# === Environnement virtuel ===
venv/
ENV/
env/
.venv/

# === Fichiers Python inutiles ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# === Logs ===
*.log

# === Fichiers de base de données ===
*.sqlite3
db.sqlite3

# === Paramètres d'environnement ===
.env
*.env

# === Systèmes d'exploitation ===
.DS_Store
Thumbs.db

# === Fichiers de tests ou de couverture ===
.coverage
.tox/
.noseids
.pytest_cache/
htmlcov/
.cache

# === IDE (VSCode, PyCharm, etc.) ===
.vscode/
.idea/
*.swp

# === Docker ===
*.pid
*.seed
*.bak
docker-compose.override.yml

# === Django-specific ===
staticfiles/
media/
