{% extends "base.html" %}

{% block content %}
<section class="px-6 py-20 max-w-4xl mx-auto text-white">
  <h1 class="text-3xl font-bold mb-6">Conditions d’utilisation</h1>
  <p class="mb-4">
    En utilisant Nikki, vous acceptez les conditions suivantes. L'application vous permet de suivre vos animes préférés, mais ne garantit pas l’exactitude permanente des données fournies.
  </p>
  <p class="mb-4">
    Vous vous engagez à utiliser Nikki de manière personnelle et non commerciale. Toute tentative de détournement, scraping ou copie de données est strictement interdite.
  </p>
  <p class="mb-4">
    Nikki se réserve le droit de modifier les présentes conditions à tout moment. Nous vous recommandons de les consulter régulièrement.
  </p>
</section>
{% endblock %}
